@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    background-size: 100% 100% 100%;
    background-position:center;-position:center;
    background-repeat:no-repeat;-repeat:no-repeat;
    background-color: rgb(0, 0, 0);
    background-image: url(snya5mv2dogewetc.jpg);
    background-size: cover;
    opacity: 90%;
}
.container .navbar{
    width: 100%;
    height: 80px;
    background-color: rgb(29, 20, 20);
    opacity: 95%;
}
.butonlar button{
    margin-top: 0px;
    margin-right: 5px;
    background-color:rgb(150, 97, 173);
    border-radius: 3px;
    border-style: none;
    padding: 5px;
}
.navbar a{
    text-decoration: none;
}
.navbar .logo {
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
}
.navbar .logo h1{
    font-size: 40px;
    text-decoration:none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(255, 255, 255);
    margin-top: -10px;
}
.navbar ul{
    float: right;
    margin-right: 30px;
    margin-top: -10px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 10px;
    line-height: 60px;

}
.navbar ul li a{
    color:rgb(255, 230, 0);
    text-decoration:none;
    font-size: 20px;
    padding: 3px 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.navbar ul li a.active,
.navbar ul li a:hover{
    background:teal;
    border-radius: 1px;

}
.Logo1 h1{
    color: rgb(0, 0, 0);
    margin: 60px;
    margin-left: 70px;
    list-style: none;
    font-size:36px ;
    font-family: sans-serif;
    margin-top: 10px;
    
}
.İletişim .kutu{
    width: 350px;
    height: 820px;
    background-color: aqua;
    margin: auto;
    position: relative;
    top: 0px;
    border-radius: 7px;
    opacity: 80%;
}
.Logo1 img{
    width: 100px;
    margin-left: 125px;
}
.Logo2 img{
    width: 100px;
    margin-left: 125px;
}
.Logo2 h1{
    color: rgb(0, 0, 0);
    margin: 60px;
    margin-left: 115px;
    list-style: none;
    font-size:36px ;
    font-family: sans-serif;
    margin-top: 10px;
    
}
.Logo3 img{
    width: 100px;
    margin-left: 125px;
}
.Logo3 h1{
    color: rgb(0, 0, 0);
    margin: 60px;
    margin-left: 90px;
    list-style: none;
    font-size:36px ;
    font-family: sans-serif;
    margin-top: 10px;
    
}
.Logo4 img{
    width: 100px;
    margin-left: 125px;
}
.Logo4 h1{
    color: rgb(0, 0, 0);
    margin: 60px;
    margin-left: 80px;
    list-style: none;
    font-size:36px ;
    font-family: sans-serif;
    margin-top: 10px;
    
}

